@keyframes animation-arrow {
    0% {
        bottom: -80px;
        left: -80px;
    }
    50% {
        bottom: -60px;
        left: -60px;
    }
    100% {
        bottom: -80px;
        left: -80px;
    }
}
@keyframes animation-arrow-sp {
    0% {
        bottom: -40px;
        left: -40px;
    }
    50% {
        bottom: -30px;
        left: -30px;
    }
    100% {
        bottom: -40px;
        left: -40px;
    }
}

@keyframes animation-text {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes animation-click {
    0% {
        opacity: 1;
    }
    65% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
